* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

p {
  line-height: 24px;
}

header,
#header_content {
  background: #3c3a39;
}

header {
  height: 65px;
}

#header_content {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 1;
}

#logo {
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#logo a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

.img-desktop {
  display: none;
}

#nav-links {
  visibility: hidden;
}

.nav-icon {
  margin-right: 30px;
  font-size: 23px;
}

#hero {
  width: 100%;
  background-color: #1c1a19;
  padding: 130px 25px 150px;
  background-image: url("images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#hero h1 {
  width: 80%;
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 64px;
}

.work-header h2 {
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
}

.work-title h2 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

#hero h2 {
  color: #fff5e1;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 32px;
  padding: 15px 0;
}

#hero .description {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  animation: SlideInFromBottom 1.5s ease-out;
}

.mobile_social_media {
  list-style-type: none;
  display: flex;
  column-gap: 1.25rem;
  padding: 15px 0;
}

.fa-brands,
.fa-solid {
  color: #dbd8d7;
  font-size: 20px;
}

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

#work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#work-section {
  padding: 120px 0 100px 0;
}

#work-title {
  margin: 0 25px;
  padding-bottom: 60px;
}

.work-hr {
  margin-top: 30px;
  position: relative;
  width: 89%;
}

#work-item {
  margin: 0 25px;
}

.work-img {
  width: 100%;
}

.work-description {
  margin-top: 20px;
}

.work-description h3 {
  color: #091e42;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Crete Round', sans-serif;
  line-height: 40px;
  margin-bottom: 5px;
}

.work-description p {
  color: #091e42;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  width: 90%;
}

.work-ul {
  display: flex;
  margin: 15px 0;
}

.work-ul li {
  border: 1px solid #8993a4;
  background: #fff;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.work-btn-con {
  margin: 25px 0;
}

.work-btn {
  text-decoration: none;
  color: #fff;
  background: #ff6b00;
  padding: 12px 12px 12px 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.work-btn:hover {
  background: #fff5e1;
  border: 1px solid;
  color: #f55800;
  font-weight: bold;
}

.work-btn:enabled {
  color: #fff;
  background: #f55800;
}

.work-btn:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.work-content {
  margin: 0 25px;
}

.bg-img {
  background-image: url("images/Img\ Placeholder\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.bg-img h3 {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Crete Round', sans-serif;
  line-height: 44px;
  width: 70%;
  margin-top: 30px;
}

.bg-img p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  width: 75%;
  line-height: 24px;
  margin: 10px 0;
}

.bg-img ul {
  display: flex;
  padding-bottom: 20px;
}

.project-btn {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}

.project-btn-con {
  text-align: center;
  background: #ff6b00;
  padding: 12px;
}

.project-btn-con:hover .project-btn {
  background-color: #fff;
  color: #ff6b00;
  cursor: pointer;
}

.project-btn-con:hover {
  text-align: center;
  background: #fff;
  padding: 12px;
  border: 1px solid #ff6b00;
}

.bg-img li {
  color: #f4f1f0;
  font-size: 15px;
  background: rgba(225, 225, 225, 0.24);
  padding: 10px 12px;
  margin-right: 20px;
}

.bg-img .body-content {
  padding: 90px 25px 0 25px;
}

#about {
  background-color: #1c1a19;
  padding: 120px 0 80px;
}

.about-body {
  margin: 0 25px;
}

#about h1 {
  color: #ff6b00;
  text-align: left;
  font-size: 70px;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
  letter-spacing: 0.37px;
}

.about-description {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 25px 0;
}

.about-btn-con {
  margin: 20px 0;
}

.about-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  border: none;
  padding: 12px;
  text-decoration: none;
  color: #fff;
}

.about-btn:hover {
  background-color: #fff;
  color: #f55800;
  border: 1px solid #f55800;
}

#about .about-body {
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: bottom 30px right;
  padding-bottom: 250px;
}

.about-hr {
  width: 90%;
  position: relative;
  left: 20px;
}

#tools {
  text-align: center;
  margin: 100px 0 0 0;
}

#tools h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.list-1 h2::before,
.list-2 h2::before,
.list-3 h2::before {
  font-size: 12px;
  padding-right: 12px;
}

.list-1 h2::before {
  content: "🔶";
  font-size: 18px;
}

.list-2 h2::before {
  content: "🟧";
}

.list-3 h2::before {
  content: "🟠";
}

.footer-social-media li {
  margin: 30px 8px;
}

#tools li {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
  color: #fff;
}

#footer-content {
  background: #e5e5e5;
}

.footer-description {
  padding: 120px 0 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #172b4d;
}

.footer-ul,
.footer-description {
  margin: 0 20px;
}

input {
  border: none;
  outline: none;
}

.footer-ul input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  margin: 15px 0;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  display: block;
}

::placeholder {
  position: relative;
  left: 15px;
}

.footer-ul textarea {
  overflow: hidden;
  width: 100%;
  height: 114px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fbf8f7;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
}

.footer-btn-con {
  padding: 20px 0 100px 0;
  text-align: center;
}

.footer-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  border: none;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
}

.footer-btn:hover {
  background: #ffff;
  color: #f55800;
  border: 1px solid  #f55800;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dfe1e6;
  padding-bottom: 20px;
}

.footer-social-media .footer-icon {
  color: #505f79;
  font-size: 20px;
}

@media (min-width: 768px) {
  #header_content {
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    height: 82px;
    width: 100%;
    z-index: 1;
  }

  .nav-icon {
    visibility: hidden;
  }

  #logo a {
    color: inherit;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    padding-left: 90px;
  }

  #nav-links {
    display: flex;
    margin-right: 130px;
    height: 60px;
    visibility: visible;
  }

  .list-1 li {
    margin-left: 20px;
  }

  #nav-links li {
    padding-right: 30px;
  }

  #nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .fa-envelope {
    font-size: 19px;
  }

  #hero-article {
    padding: 0 90px;
    width: 700px;
  }

  #hero h1,
  #hero h2 {
    animation: SlideInFromLeft 1.5s ease-out;
  }

  #hero h1 {
    width: 80%;
    color: #ff6b00;
    font-size: 70px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    letter-spacing: 0.37px;
    line-height: 79px;
  }

  #hero h2 {
    color: #fff5e1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 32px;
    padding: 15px 0;
  }

  #hero .description {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
  }

  .mobile_social_media {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 270px;
    padding-left: 10px;
    animation: SlideInFromLeft 1.9s ease-in-out;
  }

  .fa-brands,
  .fa-solid {
    margin-bottom: 20px;
    font-size: 24px;
  }

  #hero {
    width: 100%;
    background-color: #1c1a19;
    padding: 180px 25px 10px;
    background-image: url("images/Illustration-header.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
  }

  #work-section {
    padding: 100px 0 100px 0;
  }

  #work-title {
    margin: 0 90px;
    display: flex;
    flex-direction: column;
  }

  #work-item {
    margin: 0 90px;
  }

  .work-context {
    display: flex;
    margin-top: 0;
    gap: 80px;
  }

  .work-img {
    width: 130%;
  }

  .img-mobile {
    width: 110%;
  }

  .work-hr {
    position: relative;
    width: 70%;
    left: 340px;
    bottom: 48px;
  }

  .work-description {
    margin-top: 0;
  }

  .work-description h3 {
    color: #091e42;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Crete Round', sans-serif;
    line-height: 50px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .work-description p {
    color: #091e42;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    width: 90%;
    line-height: 30px;
  }

  .work-ul {
    display: flex;
    margin: 20px 0;
  }

  .work-btn-con {
    margin: 40px 0;
  }

  .work-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 90px;
  }

  .bg-img:hover .body-content {
    display: none;
  }

  .project-btn-con {
    visibility: hidden;
  }

  .bg-img:hover .project-btn-con {
    visibility: visible;
    margin-top: 360px;
  }

  .bg-img {
    transition: transform 0.2s ease-in;
    height: 410px;
  }

  .bg-img:hover {
    transform: translateY(-15px);
    border: 1px solid rgb(20, 19, 19);
    box-shadow: 8px 10px 10px rgb(122, 117, 117);
  }

  .pr-4 {
    position: relative;
    background-image: url("images/Img\ Placeholder\ \(4\).png");
  }

  .pr-7 {
    position: relative;
    background-image: url("images/Img\ Placeholder\ \(4\).png");
  }

  .pr-3 {
    background-image: url("images/Img\ Placeholder\ \(3\).png");
  }

  .pr-6 {
    background-image: url("images/Img\ Placeholder\ \(3\).png");
  }

  #about {
    background-color: #1c1a19;
    padding: 120px 0 70px;
  }

  .about-body {
    margin: 0 0 0 90px;
  }

  #about .about-body {
    background-image: url("images/illustration-about\ me@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
  }

  #about h1 {
    color: #f55800;
    text-align: left;
    font-size: 70px;
    font-weight: 400;
    font-family: 'Crete Round', sans-serif;
    letter-spacing: 0.37px;
  }

  .about-description {
    color: #f4f5f7;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0 30px 0;
    width: 550px;
  }

  .about-btn-con {
    margin: 20px 0;
  }

  .about-btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: #ff6b00;
    border: none;
    padding: 12px;
    text-decoration: none;
    color: #fff;
  }

  .about-btn:hover {
    background-color: #fff;
    color: #f55800;
    border: 1px solid #f55800;
  }

  .about-hr {
    width: 85%;
    position: relative;
    bottom: 100px;
    left: 90px;
  }

  #tools {
    display: flex;
    flex-direction: row;
    align-items: none;
    justify-content: space-between;
    margin-right: 280px;
    margin-top: 0;
  }

  .list-1 {
    margin-left: 90px;
  }

  #tools h2 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
  }

  #tools li {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
  }

  .footer-content {
    display: flex;
    margin: 0 90px;
  }

  .footer-description {
    padding: 10px 0 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #172b4d;
    width: 1000px;
  }

  .footer-ul,
  .footer-description {
    margin: 70px 0 50px 80px;
  }

  input {
    border: none;
    outline: none;
  }

  .footer-ul input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    width: 684px;
    display: inline;
  }

  ::placeholder {
    position: relative;
    left: 15px;
  }

  .footer-ul textarea {
    overflow: hidden;
    width: 684px;
    height: 114px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fbf8f7;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
  }

  .footer-btn-con {
    padding: 20px 0 100px 0;
    text-align: left;
  }

  .footer-btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: #ff6b00;
    border: none;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
  }

  .footer-btn:hover {
    background: #ffff;
    color: #f55800;
    border: 1px solid  #f55800;
  }

  .footer-social-media {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dfe1e6 top 850px;
    padding-bottom: 20px;
  }

  .footer-social-media .footer-icon {
    color: #505f79;
    font-size: 20px;
  }
}
